{% load staticfiles%}
<html>
<head>
	<title>SMR Home</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
</head>
<body >
	<div class = 'container'>
		<h1 >Welcome to SMR</h1>
		<a id = "button"class="btn btn-primary btn-lg" href="/movies/" role="button">Click Here - Movie list</a>
		<a id = "button"class="btn btn-primary btn-lg" href="/admin/" role="button">Admin Activity</a>
	</div>
</body>

</html>